body{
	margin:				0;
	background:			#333333;
}
a{
	text-decoration:	none;
	color:				red;
}
img{
	border:				none;
	border:				0;
	display:			block;
}
canvas:focus{
	outline:			0;
}
canvas,img{
	image-rendering:	-webkit-optimize-contrast;	/*webkit*/
	image-rendering:	-moz-crisp-edges;			/*Firefox*/
}
#canvasholder{
	width:				720px;
	margin:				50px auto 0 auto;
	height:				480px;
	box-shadow:			0px 0px 56px rgb(90,87,87);
}
#canvasholder #background{
	position:			absolute;
	z-index:			0;
}
#canvasholder #entities{
	position:			absolute;
	z-index:			1;
}
#canvasholder #foreground{
	position:			absolute;
	z-index:			2;
}
#info{
	display:			none;
	font-family:		Arial;
	color:				#ffffff;
	text-shadow:		0px 1px 1px #000000;
	margin:				0 auto;
	width:				640px;
	font-size:			12px;
	padding:			12px 0;
}