body{
	margin:				0;
	background:			#333333;
	cursor:				pointer;
}
a{
	text-decoration:	none;
	color:				red;
}
img{
	border:				none;
	border:				0;
	display:			block;
}
canvas:focus{
	outline:			0;
}
canvas,img{
	image-rendering:	-webkit-optimize-contrast;	/*webkit*/
	image-rendering:	-moz-crisp-edges;			/*Firefox*/
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#canvasholder{
	width:				975px;
	height:				624px;
	box-shadow:			0px 0px 56px rgb(90,87,87);
	float:				left;
	overflow: 			auto;
}
#canvasholder #background{
	width:				960px;
}
#wrapper {
	width:				1400px;
	margin:				50px auto 0 auto;
}
#paletteholder {
	width:				400px;
	height:				624px;
	float:				right;
	overflow: 			auto;
}
#paletteholder #palette {
	width:				384px;
}